#div_todo{
    background-color: bisque;
}
#div_completed{
    background-color: aqua;
}

.sec{
    height: 300px;
    width: 50%;
}
#container{
    display: flex;
}
.box{
    
    height: 90%;
    margin: 10px;
}

.box_con{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
}