*{
    margin: 0;
    padding: 0;
}
#navbar{
    height: 10vh;
    background-color: bisque;
    width: 100%;
}
#heading{
    padding-top: 5px;
    font-size: 25px;
    font-family: cursive;
}
#addform{
    padding: 5px;
}

.sec{
   
    height: 300px;
    width: 40%;
    border: 1px solid black;
}


#container{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.box{
    height: 280px;
    overflow: scroll;
    width: 100%;
}
.con{
    background-color: aqua;
    width: 80%;
    margin-bottom: 2px;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;

}

.cross{
    font-size: 12px;
}